apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: k8s-microservices
  labels:
    app.kubernetes.io/name: postgres
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: postgres
  ports:
  - port: 5432
    targetPort: 5432
    name: postgres

